<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Onepage\Success">
        <plugin name="Webatypique_GuestToCustomer_SuccessPlugin" type="Webatypique\GuestToCustomer\Plugin\SuccessPlugin" sortOrder="10" disabled="false"  />
    </type>
</config>
